name = "ADRIA"
uuid = "7dc409a7-fbe5-4c9d-b3e2-b0c19a6ba600"
authors = ["ConnectedSystems and contributors"]
version = "0.1.0"

[deps]
CSV = "336ed68f-0bac-5ca0-87d4-7b16caf5d00b"
Compose = "a81c6b42-2e10-5240-aca2-a61377ecd94b"
ConfigEnv = "01234589-554d-41b7-ae5c-7b6ee2db6796"
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
DataStructures = "864edb3b-99cc-5e75-8d2d-829cb0a9cfe8"
DifferentialEquations = "0c46a032-eb83-5123-abaf-570d42b7fbaa"
Distributed = "8ba89e20-285c-5b6f-9357-94700520ee1b"
GeoDataFrames = "62cb38b5-d8d2-4862-a48e-6a340996859f"
GraphPlot = "a2cc645c-3eea-5389-862e-a155d0052231"
Graphs = "86223c79-3864-5bf0-83f7-82e725a168b6"
IJulia = "7073ff75-c697-5162-941a-fcdaad2a7d2a"
Interpolations = "a98d9a8b-a2ab-59e6-89dd-64a1c18fca59"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
MAT = "23992714-dd62-5051-b70f-ba57cb901cac"
MATLAB = "10e44e05-a98a-55b3-a45b-ba969058deb6"
ModelParameters = "4744a3fa-6c31-4707-899e-a3298e4618ad"
ModelingToolkit = "961ee093-0014-501f-94e3-6117800e7a78"
OrdinaryDiffEq = "1dea7af3-3e70-54e6-95c3-0bf5283fa5ed"
Plots = "91a5bcdd-55d7-5caf-9e0b-520d859cae80"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
SciMLBase = "0bca4576-84f4-4d90-8ffe-ffa030f20462"
Setfield = "efcf1570-3423-57d1-acb7-fd33fddbac46"
SparseArrayKit = "a9a3c162-d163-4c15-8926-b8794fbefed2"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"

[compat]
CPUSummary = "0.1.10"
CSV = "0.10"
Compose = "0.9"
ConfigEnv = "1"
DataFrames = "1"
DataStructures = "0.18"
DifferentialEquations = "6.10, 7"
GeoDataFrames = "0.2"
GraphPlot = "0.4.1, 0.5"
Graphs = "1.4"
IJulia = "1.20"
MAT = "0.10"
MATLAB = "0.7, 0.8"
ModelParameters = "0.3"
ModelingToolkit = "7, 8"
OrdinaryDiffEq = "6"
Plots = "1"
SciMLBase = "1"
Setfield = "0.8"
SparseArrayKit = "0.2"
StaticArrays = "1"
julia = "1"

[extras]
CPUSummary = "2a0fbf3d-bb9c-48f3-b0a9-814d99fd7ab9"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
